<div class='row'>
    <div class="col-md-12">
        <ul class="posts">
        <% page.posts.each(function(post){ %>
            <li class="post-snippet">
                <h3 class="post-title">
                    <a href="<%- url_for(post.path) %>">
                        <%= post.title %>
                    </a>
                </h3>
                <div class='text-muted'>
                    <%= date(post.date, config.date_format) %> ·
                    <%- partial('post/category', {post:post}) %> 
                </div>
                <% if(post.excerpt) { %>
                        <%- post.excerpt %>
                        <span class="read-more">
                            <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %>
                        </a>
                <% } %>
                <%- partial('post/tag', {post:post}) %>
            </li>
        <% }) %>
        </ul>
    </div>
</div>